body {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

form {
  display: inline-flex;
  align-self: center;
  order: 2;
}

form > input {
  width: 60%;
}
form > .btn {
  border: none;
  border-radius: 5px;
  background: purple;
  color: white;
  margin: 0 3px;
  font-weight: bold;
}
